

/* MAIN SECTION */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tela {
    width: 300px;
    margin: 1rem;
    background-color: var(--secundary-color);
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    
}

.tela img {
    width: 100%;
}

.tela-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.tela-info h3 {
    margin-top: 0;
}

.tela-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold; /* Ancho de la fuente */
}

.overview {
    background-color: white;
    padding: 2rem;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform .3s ease-in;
}

.tela:hover .overview {
    transform: translateY(0);
}

